# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = collateral_damage.wad

# Rendering options
screen_format = CRCGCB
render_hud = true
render_crosshair = false
render_weapon = true
render_decals = true
render_particles = true
window_visible = true

# make episodes start after 16 tics (after the rocket launcher is ready)
episode_start_time = 16

# make episodes finish after 2100 actions (tics)
episode_timeout = 2100

# Available buttons
available_buttons =
	{
		TURN_LEFT
		TURN_RIGHT
		ATTACK
	}

# Game variables that will be accessible in the state
available_game_variables = { POSITION_X POSITION_Y ANGLE }

# Disable aim assist (autoaim)
game_args += +sv_noautoaim 1

mode = PLAYER
doom_skill = 1
