# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

# Rendering options
screen_resolution = RES_800X600
screen_format = CRCGCB
render_hud = true
render_crosshair = false
render_weapon = true
render_decals = false
render_particles = false
window_visible = true

# Finish the episode after 10000 game tics
episode_timeout = 5000

# Available buttons
available_buttons = 
	{
		TURN_LEFT
		TURN_RIGHT
		MOVE_FORWARD
		USE
	}

# Game variables that will be accessible in the state
available_game_variables = { POSITION_X POSITION_Y }

mode = PLAYER
doom_skill = 3
